---
import Search from "./ui/icons/Search.astro";
---

<style>
  input {
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }
  @keyframes scale-in-center {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes scale-out-center {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }

  .scale-in {
    animation: scale-in-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  .scale-out {
    animation: scale-out-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  }
</style>
<!-- <div
  id="modal"
  class="fixed inset-0 bg-gray-500/75 z-50 items-center justify-center"
>
  <div
    class="relative mx-auto max-w-xl bg-white shadow-2xl ring-1 ring-black/5 animatetop"
  >
    <Search />
    <input
      autocomplete="off"
      class="w-full h-10 pl-2 bg-transparent border-none focus:outline-none"
      placeholder="Search..."
      type="text"
      value=""
      tabindex="0"
    />
  </div>
</div> -->

<div
  id="modal"
  class="hidden fixed inset-0 bg-gray-500/75 z-50 items-center justify-center"
>
  <div
    id="modalContent"
    class="relative max-w-xl mx-auto overflow-hidden rounded-md shadow-2xl bg-white border border-neutral-300 ring-1 ring-black/5 min-w-max"
  >
    <div class="flex items-center p-2 space-x-1">
      <Search/>
      <input
        id="searchInput"
        autocomplete="off"
        class="w-full h-10 pl-2 bg-transparent border-none focus:outline-none"
        placeholder="Search components..."
        role="combobox"
        type="text"
        aria-expanded="false"
        value=""
        tabindex="0"
      />
    </div>
    <ul
      class="border-t border-gray-200 overflow-y-auto transition-all duration-300 max-h-96"
      role="listbox"
    >
      <li
        id="headlessui-combobox-option-:r18:"
        role="option"
        tabindex="-1"
        aria-selected="false"
        data-headlessui-state=""
      >
        <div class="space-x-1 px-4 py-2 cursor-pointer bg-transparent">
          <div class="flex items-center justify-between py-1 space-x-1">
            <div class="flex items-center space-x-1">
              <div class="mr-2">
                <svg
                  stroke="currentColor"
                  fill="currentColor"
                  stroke-width="0"
                  viewBox="0 0 24 24"
                  height="18"
                  width="18"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M20.92 2.38A15.72 15.72 0 0 0 17.5 2a8.26 8.26 0 0 0-6 2.06Q9.89 5.67 8.31 7.27c-1.21-.13-4.08-.2-6 1.74a1 1 0 0 0 0 1.41l11.3 11.32a1 1 0 0 0 1.41 0c1.95-2 1.89-4.82 1.77-6l3.21-3.2c3.19-3.19 1.74-9.18 1.68-9.43a1 1 0 0 0-.76-.73zm-2.36 8.75L15 14.67a1 1 0 0 0-.27.9 6.81 6.81 0 0 1-.54 3.94L4.52 9.82a6.67 6.67 0 0 1 4-.5A1 1 0 0 0 9.39 9s1.4-1.45 3.51-3.56A6.61 6.61 0 0 1 17.5 4a14.51 14.51 0 0 1 2.33.2c.24 1.43.62 5.04-1.27 6.93z"
                  ></path><circle cx="15.73" cy="8.3" r="2"></circle><path
                    d="M5 16c-2 1-2 5-2 5a7.81 7.81 0 0 0 5-2z"></path></svg>
              </div><h1>Getting Started</h1>
            </div><div class="flex items-center space-x-1">
              <span
                class="p-2 text-xs lowercase border rounded-md dark:text-gray-200 dark:bg-zinc-900 bg-zinc-100 dark:border-zinc-800 border-zinc-300"
                >G</span
              ><span
                class="p-2 text-xs lowercase border rounded-md dark:text-gray-200 dark:bg-zinc-900 bg-zinc-100 dark:border-zinc-800 border-zinc-300"
                >E</span>
            </div>
          </div>
        </div>
      </li>

    </ul>
  </div>
</div>

<script type="module">
  // Get the modal
  var modal = document.getElementById("modal");
  var searchInput = document.getElementById("searchInput");

  function openModal() {
    modal.classList.remove("hidden");
    modalContent.classList.remove("scale-out");
    modalContent.classList.add("scale-in");
    modal.classList.add("flex");
    searchInput.focus();
  }

  function closeModal() {
    modalContent.classList.remove("scale-in");
    modalContent.classList.add("scale-out");
    modalContent.addEventListener("animationend", () => {
      modal.classList.add("hidden");
      modal.classList.remove("flex");
    }, { once: true });
  }
  
  // Show the modal when the user press Meta+K or ctrl+K
  document.addEventListener("keydown", function (event) {
    if ((event.ctrlKey || event.metaKey) && event.key === "k") {
      event.preventDefault();
      openModal();
    }
  });

  // Close the modal if the user press esc
  document.addEventListener("keydown", function (event) {
    if (event.key === "Escape") {
      event.preventDefault();
      closeModal();
    }
  });

  // Close the modal when the user press outside of the modal
  window.onclick = function (event) {
    if (event.target == modal || event.key === "Escape") {
      closeModal();
    }
  };
</script>