---
import Card from "./Card.astro";
---

<section class="grid md:grid-cols-8 gap-8 cursor-default bg-green-400 ">
  <Card hasBtn={true} btnTitle="Check it out →" href="/library">
    <p class="mt-4 outfit text-4xl md:text-5xl lg:text-7xl">
      <span class="text-white">Brutal</span> Style
    </p> 
    <p class="outfit text-2xl md:text-3xl lg:text-5xl">
      Create your own web using <span class="text-white">NeoBrutal</span> components
    </p> 
  </Card>
</section>
