---
interface Props {
	title?: string;
  link: string;
}

const { title, link } = Astro.props;
---

<a 
  class="px-4 py-2 mt-2 text-sm font-semibold md:mt-0 md:ml-4 hover:text-gray-900 focus:text-gray-900 hover:underline transition duration-300" 
  href={link}>
  {
    title ?
    title :
    <slot/>
  }
</a>